@import "_mixins.scss";

// html {
//   font-size: 62.5%;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   font-size: 16px;
//     font-family: ;
// }

// // adding media queries
// @include respond(992px) {
//     //codes to happen
// }
