*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respondMax(767px) {
    font-size: 56.25%; //1rem = 9px
  }

  @include respondMax(575px) {
    font-size: 50%; //1rem = 8px
  }

  @include respondMin(1800px) {
    font-size: 75%; //1rem = 12px
  }
}

ul > li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

// .case {
//   max-width: 80%;
//   margin: 0 auto;
// }

// ::selection {
//   background-color: #fff;
//   color: #000;
// }
