// ::: grey-scale :::
$color-white: #fff;
$color-black: #000;
$color-muted: #dbdbdb;

// //::: niche color :::
// $color-primary: #0077b6;
// $color-primary-light: #00b4d8;
// $color-primary-lighter: #90e0ef;
// $color-primary-lightest: #caf0f8;
// $color-primary-dark: #03045e;

// $color-secondary: #e76f51;
// $color-secondary-dark: #da5204;
// // $color-secondary-darker:
// // $color-secondary-darkest:
// // $color-secondary-light:

// $shadow-subtle: 2px 2px 2px rgba($color-black, 0.2);
